#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
#ifdef _DEBUG
FILEFLAGS       0x1L
#else
FILEFLAGS       0x0L
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DRV
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "AnXin Security"
            VALUE "FileDescription",  "AnXin Security Network Filter Driver"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "AnXinNetFilter.sys"
            VALUE "LegalCopyright",   "Copyright (C) 2026 AnXin Security"
            VALUE "OriginalFilename", "AnXinNetFilter.sys"
            VALUE "ProductName",      "AnXin Security"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
